obj/
bin/
/packages/
/.vs/
/DBContext/appsettings.Development.json
/SharedHardware/appsettings.Development.json
/SharedHardware/wwwroot/lib/
/docs/~$$initialDbDesign.~vsdx
/SharedHardware/SharedHardware.csproj.user
